@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

:root {
  --primary-text-color: #757575;
  --title-primary-text-color: #212121;
  --title-secondary-text-color: #ffffff;
  --primary-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --page-background: #ffffff;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --icon-main-color: #afb1b8;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --card-gap: 30px;
  --card-count: 4;
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
}

body {
  color: var(--primary-text-color);
  background-color: var(--page-background);
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* Заготовка на сетки карточек */
.card-template {
  --card-gap: 30px;
  --card-count: 4;
  width: calc((100% - var(--card-gap) * (var(--card-count) - 1)) / var(--card-count));
}

/* делает невидимым */
.invisible {
  display: block;
  height: 0;
  width: 0;
  color: transparent;
}

/* Ширина контентной области */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Флекс контейнер с центрированием */
.container--flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Формат секций */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Фон чередующихся секций */
.section--grey {
  background-color: var(--secondary-background-color);
}

/* Хедер */
.page-header {
  border-bottom: 1px solid #ececec;
}

/* Навигация по сайту */
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__list {
  display: flex;
  margin-left: 93px;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-primary-text-color);
  transition: color 250ms var(--time-function);
  font-weight: 500;
  /* font-size: 14px; наследуется из боди */
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__link--current {
  color: var(--accent-color);
}
.nav__link--current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

/* Список контактов */
.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  fill: var(--primary-text-color);
  transition: color 250ms var(--time-function), fill 250ms var(--time-function);
  font-weight: 500;
  /* font-size: 14px; наследуется из боди */
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contacts__icon {
  margin-right: 10px;
}

/* Формат логотипа */
.logo {
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

/* Половину логотипа делает #2196F3 */
.logo__half {
  color: var(--accent-color);
}

/* Формат логотипа в футере */
.logo--dark-theme {
  color: var(--title-secondary-text-color);
}

/* Соцсети */
.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  color: var(--icon-main-color);
  transition: color 250ms var(--time-function), background-color 250ms var(--time-function);
  outline: none;
}
.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
  color: var(--page-background);
}

.social-link__icon {
  height: 20px;
  width: 20px;
  fill: currentColor;
}

/* Социальные сети в футере */
.join-social {
  margin-left: 70px;
}

.join-social__title {
  color: var(--title-secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.join-social__social-list {
  width: 206px;
  margin-top: 20px;
}

.social-link--dark-theme {
  color: var(--page-background);
  background-color: rgba(255, 255, 255, 0.1);
}

/* Заголовки секций */
.section-header {
  color: var(--title-primary-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Секция-герой */
.hero {
  height: 600px;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__header {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  color: var(--title-secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  min-width: 216px;
  padding: 10px 32px;
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  color: var(--title-secondary-text-color);
  background-color: var(--accent-color);
  transition: background-color 250ms var(--time-function);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

/* Секция Преимущества */
.section--pb0 {
  padding-bottom: 0;
}

.benefit-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.benefit-list__item {
  width: calc((100% - 90px) / 4);
}

.benefit-list__iconwrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  border-color: transparent;
}

.benefit-list__icon {
  width: 70px;
  height: 70px;
}

.benefit-list__title {
  color: var(--title-primary-text-color);
  /* font-weight: 700; значение для заголовков умолчанию*/
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefit-list__text {
  margin-top: 10px;
  /* font-weight: 400; значение для параграфа умолчанию */
  /* font-size: 14px; наследуется из боди */
  line-height: 1.71;
}

/* секция Чим займаємося */
.work-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.work-list__item {
  position: relative;
  min-height: 294px;
  min-width: 370px;
  width: calc((100% - 60px) / 3);
}

.work-list__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--title-secondary-text-color);
}

/* Секция Наша команда */
.team {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.teammate {
  width: calc((100% - 90px) / 4);
  background-color: var(--page-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.teammate__info-wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}

.teammate__name {
  color: var(--title-primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.teammate__position {
  /* font-weight: 400 значение для параграфа умолчанию */
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Постійні клієнти */
.client-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.client-list__item {
  width: calc((100% - 150px) / 6);
}

.client-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid var(--icon-main-color);
  border-radius: 4px;
  outline: none;
  color: var(--icon-main-color);
  transition: color 250ms var(--time-function), border-color 250ms var(--time-function);
}
.client-list__link:hover, .client-list__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.client-list__icon {
  height: 60px;
  width: 106px;
  fill: currentColor;
}

/* СТРАНИЦА ПОРТФОЛИО */
/* Кнопки фильтра превью проектов*/
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  color: var(--title-primary-text-color);
  background-color: var(--secondary-background-color);
  transition: color 250ms var(--time-function), background-color 250ms var(--time-function), box-shadow 250ms var(--time-function);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: 1px solid transparent;
  border-radius: 4px;
}
.filter__button:hover, .filter__button:focus {
  color: var(--title-secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__list-item:not(:last-child) {
  margin-right: 8px;
}

.filter__button--little {
  padding-right: 25px;
  padding-left: 25px;
}

/* Секция превью проектов */
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects__item {
  min-height: 404px;
  width: calc((100% - 60px) / 3);
}

.projects__link {
  display: block;
  transition: box-shadow 250ms var(--time-function);
}
.projects__link:hover, .projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__thumb {
  position: relative;
  overflow: hidden;
  min-height: 294px;
  width: 100%;
}

.projects__descr-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(101%);
  transition: transform 250ms var(--time-function);
  font-size: 18px;
  line-height: 1.5555555556;
  color: var(--title-secondary-text-color);
  background-color: rgba(33, 150, 243, 0.9);
}
.projects__link:hover .projects__descr-overlay, .projects__link:focus .projects__descr-overlay {
  transform: translateY(0);
}

.projects__meta {
  padding-top: 20px;
  padding-bottom: 19px;
  padding-left: 24px;
  padding-right: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.projects__title {
  color: var(--title-primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects__type {
  color: var(--primary-text-color);
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
}

/* Футер */
.footer {
  background-color: var(--primary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  min-width: 1200px;
}

.footer__overal-wrap {
  display: flex;
  align-items: baseline;
}

/* Адрес в футере*/
.footer__address {
  margin-top: 20px;
  width: 231px;
}

.footer__contact-item {
  display: block;
}
.footer__contact-item:nth-child(n+2) {
  margin-top: 9px;
}

.footer__contact {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--time-function);
  font-style: normal;
  line-height: 1.5;
}
.footer__contact:hover, .footer__contact:focus {
  color: var(--accent-color);
}

.footer__contact--white {
  color: var(--title-secondary-text-color);
}

/* Форма подписки в футере */
.signup {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  width: 570px;
}

.signup__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--title-secondary-text-color);
}

.signup__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--primary-background-color);
}
.signup__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.signup__button {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--title-secondary-text-color);
  transition: background-color 250ms var(--time-function);
}
.signup__button:hover {
  background-color: #188ce8;
}

.signup__icon {
  height: 24px;
  width: 24px;
  fill: currentColor;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms var(--time-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  padding: 40px;
  background: var(--page-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 500ms var(--time-function);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}

.modal__x-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: var(--logo-color);
  background-color: var(--page-background);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: color 250ms var(--time-function);
}
.modal__x-button:hover, .modal__x-button:focus {
  color: var(--accent-color);
}

.modal__x-icon {
  fill: currentColor;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal__form-header {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-primary-text-color);
}

.recall-form__item-wrap {
  margin-bottom: 10px;
}
.recall-form__item-wrap:last-of-type {
  margin-bottom: 20px;
}

.recall-form__input-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.recall-form__input-wrap {
  position: relative;
  width: 100%;
}

.recall-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--title-primary-text-color);
  cursor: pointer;
  transition: border-color 250ms var(--time-function), outline-color 250ms var(--time-function);
}
.recall-form__input:hover, .recall-form__input:focus, .recall-form__input:not(:placeholder-shown) {
  border-color: var(--accent-color);
  outline-color: var(--accent-color);
}

.recall-form__comment-input {
  text-align: start;
  width: 100%;
  min-height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms var(--time-function), outline-color 250ms var(--time-function);
}
.recall-form__comment-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.recall-form__comment-input:focus, .recall-form__comment-input:hover, .recall-form__comment-input:not(:placeholder-shown) {
  border-color: var(--accent-color);
  outline-color: var(--accent-color);
}

.recall-form__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--title-primary-text-color);
  transition: fill 250ms var(--time-function);
}
.recall-form__input:hover + .recall-form__icon, .recall-form__input:not(:placeholder-shown) + .recall-form__icon, .recall-form__input:focus + .recall-form__icon {
  fill: var(--accent-color);
}

.recall-form input[type=checkbox] {
  appearance: none;
}

.recall-form__policy-label {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.71;
}

.recall-form__policy-input:checked + .recall-form__check-icon {
  background-image: url(../images/checkicon.svg);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.recall-form__check-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--title-primary-text-color);
  border-radius: 2px;
  transition: background-color 250ms var(--time-function);
}

.recall-form__policy-link {
  color: var(--accent-color);
}

.recall-form__button {
  display: block;
  min-width: 200px;
  height: 50px;
  margin: 30px auto 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  color: var(--title-secondary-text-color);
  transition: background-color 250ms var(--time-function);
}
.recall-form__button:hover, .recall-form__button:focus {
  background: #188ce8;
}/*# sourceMappingURL=main.css.map */