/* Хедер */
.page-header {
  @media screen and (max-width: $tablet) {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  border-bottom: 1px solid #ececec;
}

/* Флекс контейнер с центрированием */
.container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: $tablet) {
    justify-content: center;
  }
}

/* Навигация по сайту */
.nav {
  @media screen and (max-width: $tablet) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    margin-left: 88px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 93px;
  }
}

.nav__list {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.nav__item {
  &:not(:last-child) {
    @media screen and (min-width: $tablet) {
      margin-right: 50px;
    }
  }
}

.nav__link {
  @media screen and (min-width: $tablet) {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  color: var(--title-primary-text-color);
  transition: color 250ms var(--time-function);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.nav__link--current {
  color: var(--accent-color);

  &::after {
    @media screen and (min-width: $tablet) {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-color);
    }
  }
}

/* Список контактов */
.contacts {
  @media screen and (max-width: $tablet) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    margin-left: auto;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.contacts__item {
  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: $desktop) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.contacts__link {
  display: flex;
  align-items: center;

  color: var(--primary-text-color);
  fill: var(--primary-text-color);
  transition: color 250ms var(--time-function), fill 250ms var(--time-function);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }

  @media screen and (min-width: $tablet) {
    font-size: 12px;
    line-height: calc(14 / 12);
  }

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: calc(16 / 14);
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__icon {
  margin-right: 10px;
}

// .mobile-menu {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   padding: 48px 40px;
//   transform: translateX(101%);
//   overflow: hidden;
//   transition: transform 350ms var(--time-function);

//   background-color: rgba(255, 255, 255, 0.6);

//   .mobile-menu__button:hover + &,
//   .mobile-menu__button:focus + & {
//     transform: translateX(0);
//   }

//   @media screen and (min-width: $tablet) {
//     display: none;
//   }
// }
// .mobile-menu__button {
//   @media screen and (min-width: $tablet) {
//     display: none;
//   }
// }
// .mobile-menu__iconwrap {
//   width: 44px;
//   height: 44px;
// }

// .mobile-menu__icon {
//   width: 44px;
//   height: 44px;
// }
