:root {
  --primary-text-color: #757575;
  --title-primary-text-color: #212121;
  --title-secondary-text-color: #ffffff;
  --primary-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --page-background: #ffffff;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --icon-main-color: #afb1b8;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --card-gap: 30px;
  --card-count: 4;
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
}
